USE [master]
GO
/****** Object:  Database [db_Fastfood]    Script Date: 4.09.2025 01:30:49 ******/
CREATE DATABASE [db_Fastfood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Fastbook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_Fastbook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_Fastbook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_Fastbook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Fastfood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Fastfood]
GO
/****** Object:  User [user]    Script Date: 4.09.2025 01:30:49 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 4.09.2025 01:30:49 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 4.09.2025 01:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[contant] [nvarchar](500) NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Sell]    Script Date: 4.09.2025 01:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sell](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[payType] [nvarchar](5) NULL,
	[isComplate] [bit] NULL,
	[giveMoney] [float] NULL,
	[takeMoney] [float] NULL,
 CONSTRAINT [PK_tbl_Sell] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SellProductInfo]    Script Date: 4.09.2025 01:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SellProductInfo](
	[sell_ID] [int] NULL,
	[product_ID] [int] NULL,
	[productPrice] [float] NULL,
	[prodect_Comment] [nvarchar](500) NULL,
	[amount] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Sell] ADD  CONSTRAINT [DF_tbl_Sell_isComplate]  DEFAULT ((0)) FOR [isComplate]
GO
ALTER TABLE [dbo].[tbl_SellProductInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SellProductInfo_tbl_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[tbl_Product] ([id])
GO
ALTER TABLE [dbo].[tbl_SellProductInfo] CHECK CONSTRAINT [FK_tbl_SellProductInfo_tbl_Product]
GO
ALTER TABLE [dbo].[tbl_SellProductInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SellProductInfo_tbl_Sell] FOREIGN KEY([sell_ID])
REFERENCES [dbo].[tbl_Sell] ([id])
GO
ALTER TABLE [dbo].[tbl_SellProductInfo] CHECK CONSTRAINT [FK_tbl_SellProductInfo_tbl_Sell]
GO
USE [master]
GO
