<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<!DOCTYPE hibernate-configuration SYSTEM 'http://hibernate.org/dtd/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://A\\SQLEXPRESS:49699;databaseName=db_Fastfood;encrypt=true;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user1</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        
        <mapping class="com.mycompany.sk_fastfood.SellProduct"/>
        <mapping class="com.mycompany.sk_fastfood.Product"/>
        <mapping class="com.mycompany.sk_fastfood.SellProductInfo"/>
    </session-factory>
</hibernate-configuration>

